* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

#header-background {
    width: 100%;
    background-color: #0d325a;
}

#greyBar-background {
    background-color: grey;
}

.container-main {
    width:80%;
    margin: 0 auto;
}

.first-line {
    min-width: 1000px;
    padding-top:10px;
}

.left-container, .right-container {
    float: left;
}

.both-container {
    position:relative;
}

.left-container {
    width: 50%;
    position: absolute;
}

.left-container h1 {
    font-size: 40px;
    padding: 100px 15px 30px;
    color: white;
}

.right-container img{
    object-fit: cover;
    width: 100%;
}


.right-container {
    float: right;
}

.sentences {
    /*height: 70px;*/
    text-align: center;
    padding: 10px;
}

.box {
    width: 33.3333%;
    float: left;
    padding: 15px;
    text-align: center;
    /*height: 200px;*/
}

.logo{
    padding: 5px 0px 5px 8px;
    float: left;
    color:white;
}

.voci {
    float: left;
    padding-top: 11px;
}

.voci ul li {
  float:left ;
  display:inline;
  padding: 10px 5px 10px 10px;
  color: white;
}

.log-in {
    display: inline;
    float: right;
}

.button, .button1{
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.button2 {
    background-color: #0d325a ;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px solid white;
    border-radius: 5px;
}


.box {
    width: 33.3333%;
    float: left;
    padding: 15px;
    text-align: center;
}

.box img {
    width: 90px;
}
.box h3 {
    color: green;
}

hr {
    width: 30%;
    margin: 30px auto 40px;

}
